* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #0076f9; /* similar to the blue in your screenshot */
  color: #000;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav.sections {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

nav.sections a {
  text-decoration: none;
  color: black;
  margin: 0 1rem;
  font-weight: normal;
}

img {
  max-height: 60vh;
  object-fit: contain;
}

section.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

p {
  font-size: 0.9rem;
}

h2{
  font-size:  0.9rem;
  color: #000000;
  margin: 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media (max-width: 600px) {
  section.grid-container {
    grid-template-columns: 1fr;
    text-align: left;
  }

  nav.sections a{
    margin: 0;
  }

  p, h2, a{
    font-size: 1.2rem;
  }

  img{
    margin: 2em 0 2em 0;
  }

  section.grid-container {
    padding: 0 0 2em 0;
  }
  
  #shipimg{
    max-width: 40vh;
  }

  #abtimg{
    max-width: 40vh;
  }
}